<div class="mb-3 form-floating">
  <!-- <input type="password" name="password" [(ngModel)]="model.password" class="form-control" placeholder="password"> -->
  <input
    [class.is-invalid]="control.touched && control.invalid"
    [type]="type()"
    class="form-control"
    [formControl]="control"
    placeholder="{{ label() }}"
  />
  <label for="password">{{label()}}</label>

  <!-- NOTE: Valitions message errors -->
  <div class="invalid-feedback text-start" *ngIf="control.hasError('required')">
    Please enter a {{ label() }}
  </div>
  <div
    class="invalid-feedback text-start"
    *ngIf="control.hasError('minlength')"
  >
    {{ label() }} must be at least
    {{control.errors?.['minlength'].requiredLength}} characters
  </div>
  <div
    class="invalid-feedback text-start"
    *ngIf="control.hasError('maxlength')"
  >
    {{ label() }} must be at least
    {{control.errors?.['maxlength'].requiredLength}} characters
  </div>
  <div
    class="invalid-feedback text-start"
    *ngIf="control.hasError('isMatching')"
  >
    Password do not match
  </div>
</div>
